@use '@angular/material' as mat;

.mat-mdc-option {
  padding: 8px;
}

::ng-deep.search-input {
  @include mat.form-field-density(-5);
  width: 100%;
}

::ng-deep.mdc-list-item__primary-text {
  width: 100%;
}
