<mat-form-field color="accent" class="search-input" appearance="outline" subscriptSizing="dynamic">
  <mat-label>Search for Mods</mat-label>
  <input matInput type="text" aria-label="State" [matAutocomplete]="auto" [formControl]="searchControl" />
  <mat-autocomplete #auto="matAutocomplete" [hideSingleSelectionIndicator]="true">
    <mat-option class="search-loading" *ngIf="isLoading && filteredModItems.length === 0">
      <mat-spinner [diameter]="50"></mat-spinner>
    </mat-option>
    @for (mod of filteredModItems; track mod) {
      <mat-option [value]="mod.name" appIsAlreadyInstalled #alreadyInstalled="isAlreadyInstalled" [mod]="mod">
        <div class="search-item-container" (click)="$event.preventDefault(); $event.stopPropagation();">
          @if (mod.image) {
            <img class="image-shadow" [ngSrc]="mod.image" width="60" height="60" alt="">
          }
          @if (mod.icon) {
            <span [className]="'mod-icon ' + 'fa ' + mod.icon"></span>
          }
          <div class="mod-information-container">
            <span class="text-ellipsis">{{ mod.name }}</span>
            <span class="spacer"></span>
            <ng-container [ngSwitch]="mod.kind">
              <span class="font-x-small" *ngSwitchCase="'client'">Client Mod</span>
              <span class="font-x-small" *ngSwitchCase="'server'">Server Mod</span>
              <span class="font-x-small" *ngSwitchCase="'overhaul'">Overhaul Mod</span>
            </ng-container>
            @if (mod.supportedSptVersion) {
              <span [class]="mod.sptVersionColorCode"
                    class="font-x-small image-spt-version version-pill">{{ mod.supportedSptVersion }}</span>
            }
          </div>
          <span class="spacer"></span>
          @if (isActiveSptInstanceAvailable()) {
            @if (mod.notSupported) {
              <mat-icon class="mod-install-instance-warning" color="warn" matTooltip="Installation not supported">info</mat-icon>
            } @else {
              @if (alreadyInstalled.isAlreadyInstalled()) {
                <div class="already-installed-icon-container" matTooltip="Already installed">
                  <mat-icon color="accent" style="margin: unset">done_all</mat-icon>
                </div>
              }
              @if (!alreadyInstalled.isInModList() && !alreadyInstalled.isAlreadyInstalled()) {
                <button
                  class="icon-end"
                  mat-icon-button
                  (click)="addModToModList($event, mod)"
                  [matTooltip]="(isDownloadAndInstallInProgress | async) ? 'Add to download queue' : 'Add to list'"
                >
                  <mat-icon>add</mat-icon>
                </button>
              }
              @if (alreadyInstalled.isInModList() && !alreadyInstalled.isAlreadyInstalled()) {
                <button class="icon-end" mat-icon-button (click)="removeModFromModList($event, mod)">
                  <mat-icon>delete</mat-icon>
                </button>
              }
            }
          } @else {
            <mat-icon
              class="mod-install-instance-warning"
              color="warn"
              matTooltip="Add or activate an instance of SPT to enable additional functionality">
              warning
            </mat-icon>
          }
          <button class="icon-end" mat-icon-button (click)="$event.stopPropagation(); openExternal(mod.fileUrl)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
