@use '@angular/material' as mat;

.mat-mdc-option {
  padding: unset;
}

::ng-deep.search-loading {
  .mdc-list-item__primary-text {
    display: flex;
    justify-content: center;
  }
}

::ng-deep.search-input {
  @include mat.form-field-density(-5);
  width: 100%;
}

::ng-deep.mdc-list-item__primary-text {
  width: 100%;
}

.icon-end {
  justify-content: center;
  align-items: end;
}

.mod-information-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  overflow: auto;
}

.search-item-container {
  display: flex;
  padding: 8px;
}

.version-pill {
  width: fit-content;
  border-radius: 4px;
  padding: 0 4px;
}
