<div class="arrow-container">
  <div class="line-down"></div>
  <div class="line-right"></div>
</div>

<mat-card (mouseenter)="hovering = true" (mouseleave)="hovering = false">
  <mat-card-content style="position: relative; height: 100%" class="card-container">
    @let latestCompatibleModSptVersion = mod()?.versions?.[0]?.spt_version_constraint | semverSptVersion;
    @if (latestCompatibleModSptVersion) {
      <div [class]="'badge-version ' + latestCompatibleModSptVersion.color_class" class="font-small image-spt-version card-badge">
        {{ latestCompatibleModSptVersion.version }}
      </div>
    }

    <div class="mod-container">
      <div class="mod-title" style="display: flex; width: 100%">
        <strong class="one-line-clamp"> {{ mod().name }}</strong>
      </div>

      <div [class.absolute]="mod().installProgress?.completed" class="progress-bar-container">
        @if (mod().installProgress?.downloadStep?.start && mod().installProgress?.unzipStep && !mod().installProgress?.completed) {
          <mat-progress-bar
            @fadeInOut
            [mode]="mod().installProgress?.downloadStep?.start && mod().installProgress?.unzipStep?.progress === 0 ? 'indeterminate' : 'determinate'"
            [color]="mod().installProgress?.downloadStep?.error ? 'warn' : 'accent'"
            [value]="mod().installProgress?.unzipStep?.progress ? mod().installProgress!.unzipStep!.progress * 100 : 0"
          />
        }
        @if (mod().installProgress?.completed) {
          <div class="installation-completed-container mod-dependency">
            <mat-icon>done</mat-icon>
            Installation completed
          </div>
        }
      </div>

    </div>


    @if (hovering && !mod().isInvalid) {
      <button class="open-external-button" mat-icon-button @fadeInOut (click)="openExternal(mod().detail_url)">
        <mat-icon class="font-weight-400 icon-size-48">open_in_new</mat-icon>
      </button>
    }
  </mat-card-content>
</mat-card>

