<mat-card *ngFor="let modItem of accumulatedModList">
  <mat-card-content class="card-container">
    <img class="image-shadow" [ngSrc]="modItem.modIcon" height="144" width="144" alt="">
    <div class="mod-list-container">
      <strong class="mod-name one-line-clamp">{{ modItem.modName }}</strong>
      <span class="spacer"></span>
      <div>
        <button mat-icon-button matTooltip="Download and Install">
          <mat-icon>download</mat-icon>
        </button>
        <button mat-icon-button (click)="openExternal(modItem.modFileUrl)" matTooltip="Open external">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
