<mat-card *ngFor="let modItem of accumulatedModList">
  <mat-card-content class="card-container">
    <img class="image-shadow" [ngSrc]="modItem.modImage" height="144" width="144" alt="">
    <div class="mod-list-container">
      <strong class="mod-name one-line-clamp">{{ modItem.modName }}</strong>
      <span class="spacer"></span>
      <div>
        @if (!isInModList(modItem.modName)) {
          <button mat-icon-button (click)="addModToModList(modItem)">
            <mat-icon>add</mat-icon>
          </button>
        } @else {
          <button mat-icon-button (click)="removeModFromModList(modItem)">
            <mat-icon>delete</mat-icon>
          </button>
        }
        <button mat-icon-button (click)="openExternal(modItem.modFileUrl)" matTooltip="Open external">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
