@if (loading) {
  <div class="full-height full-width" style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner [diameter]="100"></mat-spinner>
  </div>
}

@if (tags() && accumulatedModList.length === 0) {
  <div class="full-height full-width" style="display: flex; justify-content: center; align-items: center;">
    <span>Select a tag to start the search.</span>
  </div>
}

<div class="mod-list">
  @for (mod of accumulatedModList; track mod) {
    <mat-card
      appIsAlreadyInstalled #alreadyInstalled="isAlreadyInstalled"
      appIsAlreadyStarted #alreadyStarted="isAlreadyStarted"
      appCheckModDependency #modDependencies="hasModDependencies"
      [mod]="mod">
      <mat-card-content class="card-container">
        <div>
          <img class="image-shadow" [ngSrc]="mod.thumbnail | imagePathResolver" height="144" width="144" alt="">
          @let latestCompatibleModSptVersion = mod?.versions?.[0]?.spt_version_constraint | semverSptVersion;
          @if (latestCompatibleModSptVersion) {
            <div [class]="'badge-version ' + latestCompatibleModSptVersion.color_class" class="font-small image-spt-version card-badge">
              {{ latestCompatibleModSptVersion.version }}
            </div>
          }
        </div>
        <div class="mod-list-container">
          <strong class="mod-name one-line-clamp">{{ mod.name }}</strong>
          <div class="mod-version">Last update: {{ mod.updated_at }}</div>
          <div class="mod-teaser">{{ mod.teaser }}</div>
          <span class="spacer"></span>
          <div class="card-button-container">
            @if (isActiveSptInstanceAvailable()) {
              @if (mod.notSupported) {
                <mat-icon class="mod-install-instance-warning" color="warn" matTooltip="Installation not supported">
                  info
                </mat-icon>
              } @else {
                @if (!alreadyInstalled.isAlreadyInstalled() && alreadyStarted.isAlreadyStarted()) {
                  <div class="already-installed-icon-container">
                    <mat-spinner [diameter]="30"></mat-spinner>
                  </div>
                }
                @if (alreadyInstalled.isAlreadyInstalled()) {
                  <mat-icon
                    class="already-installed-icon-container"
                    matTooltip="Already installed"
                    color="accent">
                    done_all
                  </mat-icon>
                } @else {
                  @if (!alreadyStarted.isAlreadyStarted() && !alreadyInstalled.isInModList()) {
                    <button mat-icon-button (click)="addModToModList(mod)"
                            [matTooltip]="(isDownloadAndInstallInProgress | async) ? 'Add to download queue' : 'Add to list'">
                      <mat-icon>add</mat-icon>
                    </button>
                  }
                  @if (!alreadyStarted.isAlreadyStarted() && alreadyInstalled.isInModList()) {
                    <button mat-icon-button (click)="removeModFromModList(mod)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  }
                }
              }
            } @else {
              <mat-icon class="mod-install-instance-warning" color="warn"
                        matTooltip="Add or activate an instance of SPT to enable additional functionality">
                warning
              </mat-icon>
            }
            <button mat-icon-button (click)="openExternal(mod.detail_url)" matTooltip="Open external">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <span class="spacer"></span>
            @if (modDependencies.hasModDependencies()) {
              <mat-icon class="mod-install-instance-warning warning-color" matTooltip="Mod dependency">
                info
              </mat-icon>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>

<mat-toolbar class="action-container">
  <button mat-icon-button class="refresh-button" [disabled]="loading" (click)="refresh()" matTooltip="Refresh list">
    <mat-icon>refresh</mat-icon>
  </button>

  <ng-container *ngTemplateOutlet="sortForm"></ng-container>

  @if (tags()) {
    <ng-container *ngTemplateOutlet="sptTagsForm"/>
  } @else {
    <ng-container *ngTemplateOutlet="sptVersionForm"/>
  }

  <mat-paginator class="floating-paginator" [showFirstLastButtons]="true" [hidePageSize]="true" [length]="pageLength"
                 [pageSize]="12"/>
</mat-toolbar>

<ng-template #sortForm>
  <mat-button-toggle-group hideSingleSelectionIndicator [formControl]="sortOrderFormField" [value]="sortTypeFormField">
    <mat-button-toggle value="DESC" matTooltip="Descending">
      <mat-icon>south</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="ASC" matTooltip="Ascending">
      <mat-icon>north</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field class="select-form-field" color="accent" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Mod Type</mat-label>
    <mat-select [formControl]="sortTypeFormField" [value]="sortTypeFormField">
      <mat-option value="name">name</mat-option>
      <mat-option value="featured">featured</mat-option>
      <mat-option value="created_at">created_at</mat-option>
      <mat-option value="updated_at">updated_at</mat-option>
      <mat-option value="published_at">published_at</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #sptVersionForm>
  <mat-form-field class="select-form-field" color="accent" appearance="outline" subscriptSizing="dynamic">
    <mat-label>SPT Version</mat-label>
    <mat-select [formControl]="sptVersionFormField">
      <mat-option [value]=""></mat-option>
      @for (version of sptVersionSignal(); track version) {
        <mat-option [value]="version">{{ version.version }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #sptTagsForm>
  <mat-form-field class="select-form-field" color="accent" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Tags</mat-label>
    <input matInput aria-label="Number" [formControl]="sptTagFormField" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (tag of filteredOptions | async; track tag) {
        <mat-option [value]="tag.innerText">{{ tag.innerText }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</ng-template>
