@use '@angular/material' as mat;

:host {
  display: flex;
  overflow: auto;
  gap: 16px;
  flex-wrap: wrap;
  padding: 8px;
  height: calc(100% - 16px);
}

mat-card {
  flex: 0 0 calc(33.333% - 16px);
  max-height: 144px;

  mat-card-content {
    padding: unset;
    height: 100%;
    
    > img {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
  }
}

.image-shadow {
  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.mod-icon {
  min-height: 144px;
  min-width: 144px;
  justify-content: center;
  display: flex;
  color: #c9c9c9;
  align-items: center;
  font-size: 100px;
  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.mod-name {
  justify-content: center;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  min-width: 140px;
}

.mod-version {
  padding: 0 8px;
  padding-bottom: 2px;
  font-style: italic;
  font-size: small;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mod-teaser {
  padding: 0 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mod-list-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card-button-container {
  display: flex;
}

.action-container {
  display: flex;
  position: absolute;
  height: 58px;
  bottom: 4px;
  right: 34px;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  border-radius: 4px;
  background-color: rgba(75, 75, 75);
  border: 1px solid rgba(0, 0, 0, 0.5);

  ::ng-deep.filter-input {
    @include mat.form-field-density(-5);
  }

  @media (prefers-color-scheme: light) {
    background-color: rgb(236, 236, 236) !important;

    ::ng-deep.mat-mdc-paginator-container {
      background-color: rgb(236, 236, 236) !important;
    }
  }

  .floating-paginator {
    background-color: rgba(75, 75, 75);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 100;
  }
}
