@if (!activeAkiInstance) {
  <div class="full-height full-width" style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; gap: 16px; justify-content: center; align-items: center">
      There is no active Instance. Please go to the setting and activate an SPT-Instance.
      <button style="display: flex; width: 50%; " mat-raised-button color="accent" routerLink="../setting">
        Setting-Page
      </button>
    </div>
  </div>
}

@if (activeAkiInstance?.isLoading) {
  <div class="full-height full-width" style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner [diameter]="100"></mat-spinner>
  </div>
}

@if (activeAkiInstance && !activeAkiInstance?.isLoading) {
  <div class="mod-list-container">
    <div class="mod-list">
      <h2>Server-Mods</h2>

      <mat-list style="overflow: auto;">
        @if (activeAkiInstance?.serverMods?.length === 0) {
          <span>No Server-Mods installed!</span>
        }

        @for (serverMod of activeAkiInstance?.serverMods | orderBy:'name'; track $index) {
          <mat-list-item>
            <span matListItemTitle>{{ serverMod.name }}</span>
            <span matListItemLine>{{ serverMod.version }}</span>
            @if (serverMod.name === 'SPT Realism Mod') {
              <button class="list-item-button" mat-icon-button (click)="openRealismTool(serverMod.modPath)">
                <mat-icon>expand_circle_right</mat-icon>
              </button>
            }
            @if (serverMod.name === 'SVM') {
              <button class="list-item-button" mat-icon-button (click)="openSVMTool(serverMod.modPath)">
                <mat-icon>expand_circle_right</mat-icon>
              </button>
            }
            <mat-slide-toggle class="list-slider-item" matListItemMeta [checked]="serverMod.isEnabled" (click)="toggleModState(serverMod, true)">{{ serverMod.isEnabled ? 'Enabled' : 'Disabled' }}</mat-slide-toggle>
            <button mat-icon-button matListItemMeta (click)="openExternal(serverMod.modPath)">
              <mat-icon>folder_open</mat-icon>
            </button>
          </mat-list-item>
        }
      </mat-list>
    </div>

    <mat-divider [vertical]="true"/>

    <div class="mod-list">
      <h2>Client-Mods</h2>
      <mat-list style="overflow: auto;">
        @if (activeAkiInstance?.clientMods?.length === 0) {
          <span>No Client-Mods installed!</span>
        }
        @for (clientMod of activeAkiInstance?.clientMods | orderBy:'name'; track $index) {
          @if (clientMod.isDirectory && clientMod?.subMods?.length ?? 0 > 1) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-list-item>
                  <span matListItemTitle>{{ clientMod.name }}</span>
                  <mat-slide-toggle class="list-slider-item" matListItemMeta (click)="$event.stopPropagation(); toggleModState(clientMod)" [checked]="clientMod.isEnabled">{{ clientMod.isEnabled ? 'Enabled' : 'Disabled' }}</mat-slide-toggle>
                </mat-list-item>
              </mat-expansion-panel-header>
              @for (subMod of clientMod.subMods; track subMod) {
                <mat-list-item>
                  <span matListItemTitle>{{ subMod.name }}</span>
                  <span matListItemLine>{{ subMod.version }}</span>
                  <button matListItemMeta mat-icon-button (click)="openExternal(subMod.modPath)">
                    <mat-icon>folder_open</mat-icon>
                  </button>
                </mat-list-item>
              }
            </mat-expansion-panel>
          } @else {
            <mat-list-item>
              <span matListItemTitle>{{ clientMod.name }}</span>
              <span matListItemLine>{{ clientMod.version }}</span>
              <mat-slide-toggle class="list-slider-item" matListItemMeta [checked]="clientMod.isEnabled" (click)="toggleModState(clientMod)">{{ clientMod.isEnabled ? 'Enabled' : 'Disabled' }}</mat-slide-toggle>
              <button mat-icon-button matListItemMeta (click)="openExternal(clientMod.modPath)">
                <mat-icon>folder_open</mat-icon>
              </button>
            </mat-list-item>
          }
        }
      </mat-list>
    </div>
  </div>
}

<!--
<div style="position: absolute; top: 0; right: 0">
  <button mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
</div>
-->

