:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.mat-mdc-list {
  margin: 0 4px;
}

h2 {
  padding: 0 8px;
}

.instance-actions {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.mat-mdc-card-header {
  display: flex;
  padding: 0 16px 0;
}

.list-item-button {
  display: flex !important;
  justify-content: center;
}

.list-slider-item {
  height: 100%;
  display: flex !important;
  justify-content: center;
}

.mod-list-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .mod-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
  }
}

.mat-mdc-icon-button {
  display: flex !important;
}

mat-expansion-panel {
  background: unset;
  box-shadow: unset !important;

  mat-expansion-panel-header {
    padding-left: unset;

    ::ng-deep.mat-expansion-indicator {
      width: 24px !important;
      height: 24px !important;
      margin: 0 0 0 44px !important;
    }
  }

  ::ng-deep.mat-expansion-panel-content .mat-expansion-panel-body {
    padding: unset !important;
  }
}

