@if (!activeSptInstance) {
  <div class="full-height full-width" style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; gap: 16px; justify-content: center; align-items: center">
      There is no active Instance. Please go to the setting and activate an SPT-Instance.
      <button style="display: flex; width: 50%; " mat-raised-button color="accent" routerLink="../setting">
        Setting-Page
      </button>
    </div>
  </div>
}

@if (activeSptInstance?.isLoading) {
  <div class="full-height full-width" style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner [diameter]="100"></mat-spinner>
  </div>
}

@if (activeSptInstance && !activeSptInstance?.isLoading) {
  <div class="mod-list-container">
    <div class="mod-list">
      <div style="display: flex; justify-content: space-between; align-items: center; padding: 8px;">
        <h2>Installed Mods ({{ activeSptInstance?.trackedMods?.length ?? 0 }})</h2>

        <div style="display: flex; justify-content: end; align-items: center; padding: 8px;">
          <button mat-icon-button matTooltip="Import Mods" (click)="importModsFromFileSystem()">
            <mat-icon>download</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Export Mods" (click)="exportModsToFileSystem()">
            <mat-icon>upload</mat-icon>
          </button>
        </div>
      </div>

      @for (trackedMod of activeSptInstance?.trackedMods | orderBy:'modName'; track $index) {
        <mat-card style="margin-right: 8px;">
          <mat-card-content>
            {{ trackedMod.modVersion ? trackedMod?.modVersion?.split(" ")?.[0] : "" }} - {{ trackedMod.modName }}

            <div class="instance-actions">
              <mat-slide-toggle class="list-slider-item" matListItemMeta [disabled]="isWorking" [checked]="trackedMod.isActive"
                                (click)="toggleModState(trackedMod)">{{ trackedMod.isActive ? 'Active' : 'Inactive' }}
              </mat-slide-toggle>

              <button mat-icon-button [ngClass]="!isWorking ? 'remove-action' : ''" [disabled]="isWorking" (click)="$event.stopPropagation(); toggleModState(trackedMod, true)">
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-icon-button (click)="$event.stopPropagation(); openExternalHub(trackedMod.hubId)">
                <mat-icon>open_in_new</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
}
