:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.mat-mdc-list {
  margin: 0 4px;
}

h2 {
  padding: 0 8px;
}

mat-expansion-panel-body {
  padding: unset;
}

.list-item-button {
  display: flex !important;
  justify-content: center;
}

.list-slider-item {
  height: 100%;
  display: flex !important;
  justify-content: center;
}

.mod-list-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .mod-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
  }
}

.mat-mdc-icon-button {
  display: flex !important;
}

.mat-mdc-list-item {
  padding-right: 24px;
}

mat-expansion-panel {
  background: unset;
  box-shadow: unset !important;

  ::ng-deep .mat-expansion-panel-body {
    padding: unset !important;
  }

  mat-expansion-panel-header {
    padding-left: unset;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
