:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.list-item-button {
  display: flex !important;
  justify-content: center;
}

.mod-list-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .mod-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
  }
}

mat-expansion-panel {
  background: unset;
  box-shadow: unset !important;

  mat-expansion-panel-header {
    padding-left: unset;
  }

  ::ng-deep.mat-expansion-panel-content .mat-expansion-panel-body {
    padding: unset !important;
  }
}

