.idea/
.vscode/
node_modules/
build/
tmp/
temp/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/events/*.js
/browserWindow.js
/constants.js
/main-application-start.js
/main-window.js
