<mat-card>
  <mat-card-content class="card-container">
    <img class="image-shadow" [ngSrc]="modItem.modImage" height="144" width="144" alt="" />
    <div class="mod-list-container">
      <strong class="mod-name one-line-clamp">{{ modItem.modName }}</strong>
      <div style="display: flex; padding: 8px; border-radius: 4px; gap: 16px">
        <div style="width: 100%; justify-content: center">
          <span style="display: flex; justify-content: center">Getting Downloadlink</span>
          <progress max="1" [value]="downloadLinkProgress"></progress>
        </div>

        <div style="width: 100%; justify-content: center">
          <span style="display: flex; justify-content: center">Download Mod</span>
          <progress max="1" [value]="downloadModProgress?.percent" [matTooltipDisabled]="!downloadModProgress" [matTooltip]="downloadModProgress?.transferredBytes + '/' + downloadModProgress?.totalBytes"></progress>
        </div>

        <div style="width: 100%; justify-content: center">
          <span style="display: flex; justify-content: center">Unzip Mod</span>
          <progress max="1" [value]="unzipModProgress"></progress>
        </div>
      </div>

      <button mat-raised-button color="accent" (click)="download(modItem)">Download</button>
    </div>
  </mat-card-content>
</mat-card>
