:host {
  --mdc-linear-progress-active-indicator-height: 15px;
  --mdc-linear-progress-track-height: 15px;
  margin-right: 4px;
}

mat-progress-bar {
  border-radius: 8px;
}

mat-card {
  width: 100%;
  max-height: 100px;

  mat-card-content {
    padding: unset;

    > img {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
  }
}

.image-shadow {
  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.mod-icon {
  min-height: 100px;
  min-width: 100px;
  justify-content: center;
  display: flex;
  color: #c9c9c9;
  align-items: center;
  font-size: 80px;
  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.mod-title > strong {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.mod-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 8px;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.mod-steps-container {
  display: flex;
  padding: 8px;
  gap: 8px;
  height: 100%;
}

.mod-teaser {
  padding: 0 8px;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mod-step-name {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.progress-bar-container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.progress-bar-progress-text {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: small;
  mix-blend-mode: difference;
}

.delete-button-container {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  background: rgb(178, 39, 46);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.installation-completed-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: large
}
