<mat-card (mouseenter)="hovering = true" (mouseleave)="hovering = false" style="height: 100%">
  <mat-card-content style="position: relative; height: 100%" class="card-container">
    <div style="position: relative;">
      @if (hovering) {
        <div
          @fadeInOut
          class="external-button-container"
          (click)="openExternal(mod.fileUrl)">
          <mat-icon class="font-weight-400 icon-size-48">open_in_new</mat-icon>
        </div>
      }
      @if (mod.image) {
        <img class="image-shadow" [ngSrc]="mod.image" height="100" width="100" alt="">
      }
      @if (mod.icon) {
        <span [className]="'mod-icon ' + 'fa ' + mod.icon"></span>
      }
    </div>
    <div class="mod-container">
      <div class="mod-title" style="display: flex">
        <strong class="one-line-clamp">{{ mod.name }}</strong>
        @if (modLicenseInformation$ | async; as modLicenseInformation) {
          <span style="display: flex; justify-content: center; padding-top: 8px; cursor: pointer;" (click)="openExternal(modLicenseInformation.url)">
            <mat-icon style="font-size: 19px">license</mat-icon>
            <span>{{ modLicenseInformation.text }}</span>
          </span>
        }
      </div>
      @if (!mod.installProgress?.linkStep?.start) {
        <div class="mod-teaser">{{ mod.teaser }}</div>
      }
      @if (mod.installProgress?.linkStep?.start) {
        <div class="mod-steps-container" @fadeInOut>
          @if (mod?.installProgress; as installProgress) {
            @if (!installProgress.completed) {
              @if (installProgress.linkStep?.start) {
                <div class="full-width" @fadeInOut>
                  <span class="mod-step-name">Fetching Information</span>
                  <mat-progress-bar
                    [mode]="installProgress.linkStep.start && installProgress.linkStep.progress === 0 ? 'indeterminate' : 'determinate'"
                    [color]="installProgress.linkStep.error ? 'warn' : 'accent'"
                    [value]="installProgress.linkStep.progress * 100"
                  />
                </div>
              }
              @if (installProgress.linkStep?.start) {
                <div class="full-width" @fadeInOut>
                  <span class="mod-step-name">Download</span>
                  <div class="progress-bar-container">
                    <mat-progress-bar [color]="installProgress.downloadStep.error ? 'warn' : 'accent'"
                                      [value]="installProgress.downloadStep.percent * 100" />
                    @if (installProgress.downloadStep.percent !== 0) {
                      <span class="progress-bar-progress-text">
                            @if (installProgress.downloadStep.percent !== 1 && installProgress.downloadStep.transferredBytes) {
                              {{ installProgress.downloadStep.transferredBytes + '/' + installProgress.downloadStep.totalBytes }}
                            } @else {
                              {{ installProgress.downloadStep.totalBytes }}
                            }
                          </span>
                    }
                  </div>
                </div>
              }
              @if (installProgress.linkStep.start) {
                <div class="full-width" @fadeInOut>
                  <span class="mod-step-name">Install</span>
                  <mat-progress-bar
                    [mode]="installProgress.unzipStep.start && installProgress.unzipStep.progress  === 0 ? 'indeterminate' : 'determinate'"
                    [color]="installProgress.unzipStep.error ? 'warn' : 'accent'"
                    [value]="installProgress.unzipStep.progress * 100"
                  />
                </div>
              }
            }
            @if (installProgress.completed) {
              <div class="installation-completed-container">
                <mat-icon>done</mat-icon>
                Installation completed
              </div>
            }
          }
        </div>
      }
    </div>

    @if (false && hovering && mod?.installProgress?.error) {
      <div
        @fadeInOut
        class="delete-button-container retry"
        (click)="downloadAndInstallSingle(mod)">
        <mat-icon>refresh</mat-icon>
      </div>
    }

    @if (hovering && (!mod?.installProgress?.linkStep?.start || mod?.installProgress?.completed || mod?.installProgress?.error)) {
      <div
        @fadeInOut
        class="delete-button-container"
        (click)="removeModFromModList(mod)">
        <mat-icon>delete</mat-icon>
      </div>
    }
  </mat-card-content>
</mat-card>
