<div class="mod-list" [class.full]="modListSignal().length">
  @for (mod of modListSignal(); track mod.name) {
    <app-mod-card @fadeInOut [mod]="mod" (removeModEvent)="removeMod($event)"/>
  }
</div>

<div class="button-container" *ngIf="modListSignal().length" >
  <button mat-raised-button color="accent" [disabled]="(isDownloadingAndInstalling$ | async) || !isModNotCompleted()" (click)="downloadAndInstall()">Download / Install</button>
</div>

<div
  @fadeInOut
  *ngIf="!modListSignal().length"
  style="display: flex; flex-direction: column; height: 100%; width: 100%; justify-content: center; align-items: center"
>
  <span style="user-select: none; color: gray; font-size: 128px; position: absolute; opacity: 0.04">¯\_(ツ)_/¯</span>
  <span style="user-select: none; font-size: x-large">No mods detected!</span>
  <span style="user-select: none; font-size: smaller">Add some mods to proceed with the installation</span>
</div>

<span style="position: absolute; bottom: 0; left: 0; font-size: smaller; padding: 4px;">
  *By using this application, you agree to and accept the respective open source licenses for any mods you download
</span>
