$button-size: 48px;
$button-padding: 8px;
$text-space: 12px;

.mod-list {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;

  max-height: calc(100% - #{$button-size} - #{$button-padding} - #{$text-space});
  width: 100%;
  overflow: auto;

  &.full {
    height: 100%;
  }
}

button {
  width: 30%;
}

.button-container {
  display: flex;
  width: 100%;
  padding: 8px 0;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.no-mod-emote-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 24px);
  width: 100%;
  justify-content: center;
  align-items: center;

  .emote {
    user-select: none;
    color: gray;
    font-size: 10vw;
    position: absolute;
    opacity: 0.04
  }

  .no-mods-text {
    user-select: none;
    font-size: x-large;
  }

  .no-mods-subtext {
    user-select: none;
    font-size: smaller;
  }
}

.licence-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: smaller;
  padding: 4px;
}
