@use '@angular/material' as mat;
@use '../styles' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sidenav-container {
  flex: 1;
}

.active-link {
  @media (prefers-color-scheme: light) {
    background: rgba(0, 0, 0, 0.3);
  }

  @media (prefers-color-scheme: dark) {
    background: rgba(255, 255, 255, 0.3);
  }
}

.mat-drawer-container {
  overflow: hidden;
}

.mat-drawer-content {
  padding: 8px;
  margin-left: 55px;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 16px 32px;

  &.extended {
    padding: 16px;
  }
}

.window-control-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: -16px;
}

.window-control-buttons .mat-icon {
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 32px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.4);

    &.close {
      background: rgba(255, 0, 0, 0.4);
    }
  }
}

.issue-link-text {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  color: mat.get-color-from-palette($mat-theme-accent-palette, 500);

  mat-icon {
    font-size: 19px;
    width: 19px;
    height: 19px;
  }
}

mat-sidenav[style].visible {
  visibility: visible !important;
}

.sidenav-content {
  height: calc(100% - 16px);
  padding-left: 8px;
  padding-top: 8px;
}

.logo {
  padding-right: 16px;
}

.mat-drawer {
  display: flex !important;
  transform: none !important;
}

.draggable-header {
  display: flex;
  width: 100%;
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.issue-container {
  display: flex;
  flex-direction: column;
}

.side-navigation-actions-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.mdc-list-item__secondary-text {
  display: flex;
  font-size: smaller;
  justify-content: center;
}

.version-container {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  position: relative;

  > span {
    position: absolute;
    right: 2px;
    bottom: 0;
  }
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-left: 16px;
  margin-right: 24px;
}

.mat-mdc-list-item {
  height: 56px !important;
  $icon-color: null;

  @media (prefers-color-scheme: light) {
    .mat-icon {
      color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    .mat-icon {
      color: white;
    }
  }
}
