<div style="display: flex; flex-direction: column; width: 100%; height: 100%; gap: 8px">
  <mat-card joyrideStep="settingStepInstance" [stepContent]="joyRideStepContent"
            [stepPosition]="!!userSettingSignal().length ? 'center' : 'bottom'">
    <mat-card-header>
      <mat-card-title>SPT-Instances ({{ userSettingSignal().length }})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (settingModel of userSettingSignal(); track settingModel.sptRootDirectory) {
          @if (settingModel.isLoading) {
            <mat-list-item #loading lines="2">
              <mat-spinner [diameter]="50"></mat-spinner>
            </mat-list-item>
          }
          @if (!settingModel.isLoading) {
            <mat-list-item lines="2" (mouseenter)="hoveringInstance = settingModel.sptRootDirectory"
                           (mouseleave)="hoveringInstance = ''">
              <mat-icon joyrideStep="settingStepInstanceActive" [stepContent]="joyRideStepInstanceActiveContent"
                        *ngIf="!settingModel.isError" matListItemAvatar class="active-star"
                        [class.fill]="settingModel.isActive"
                        matTooltip="Set instance to active"
                        (click)="setActiveInstance(settingModel)">
                star
              </mat-icon>
              <mat-icon *ngIf="settingModel.isError" matListItemAvatar color="warn" class="warning"
                        matTooltip="Error while accessing local Server/Client Paths. Make sure you started the SPT-Server at least once.">
                warning
              </mat-icon>
              <div matListItemTitle>{{ (settingModel?.sptCore?.sptVersion ?? settingModel?.sptCore?.akiVersion) ?? "Instance not found" }}</div>
              <div matListItemLine>{{ settingModel.sptRootDirectory ?? settingModel.akiRootDirectory }}</div>
              @if (settingModel.sptRootDirectory === hoveringInstance) {
                <div @fadeInOut class="delete-button-container open-instance-button"
                     (click)="openInstance(settingModel.sptRootDirectory)">
                  <mat-icon>folder_open</mat-icon>
                </div>

                <div @fadeInOut class="delete-button-container" (click)="removeInstance(settingModel)">
                  <mat-icon>delete</mat-icon>
                </div>
              }
            </mat-list-item>
          }
        }
      </mat-list>
    </mat-card-content>

    <mat-card-footer>
      <button mat-flat-button class="instance-button footer" color="accent" (click)="getRootEftSpDirectory()">
        Add SPT Instance
      </button>
    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title style="padding-bottom: 8px">General Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: flex; flex-direction: column; gap: 16px;">
      <mat-form-field color="accent" class="theme-select" appearance="outline" subscriptSizing="dynamic">
        <mat-label>Current Theme</mat-label>
        <mat-select [formControl]="currentTheme" (selectionChange)="changeTheme($event)">
          <mat-option value="light">Light</mat-option>
          <mat-option value="dark">Dark</mat-option>
          <mat-option value="system">System</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" style="width: fit-content;" (click)="restartTutorial()">
        Restart Tutorial
      </button>

      <div style="display: flex; gap: 8px">
        <button mat-raised-button color="primary" style="width: fit-content;" (click)="clearSptVersionCache()">
          Clear Spt-Versions
        </button>
        <button mat-raised-button color="primary" style="width: fit-content;" (click)="clearSptTagsCache()">
          Clear Spt-Tags
        </button>
      </div>

      <div style="display: flex; flex-direction: column; gap: 8px;">
        <mat-slide-toggle [formControl]="experimentalFunctionsActive" (change)="toggleExperimentalFunction($event)">
          Activate Experimental Function
        </mat-slide-toggle>
        <!--
        @if (experimentalFunctionsActive.value) {
          <span style="color: orangered; font-size: small">Text about warning and such things</span>
        }
        -->
        <mat-slide-toggle [formControl]="keepTempDownloadDirectory" (change)="toggleKeepTempDirectory($event)">
          Keep download directory <span style="font-size: small; color: gray">~{{ currentTempDirectorySize().text }}</span>
        </mat-slide-toggle>

        <mat-slide-toggle [formControl]="checkInstalledMod" (change)="toggleCheckInstalledMod($event)">
          Check mod installation <span style="font-size: small; color: gray">(toggle this off will allow you install already installed mods)</span>
        </mat-slide-toggle>

        <div style="display: flex; gap: 8px">
          <button mat-raised-button color="primary" style="width: fit-content;" (click)="clearTemporaryDownloadDirectory()" [disabled]="currentTempDirectorySize().size === 0">
            Clear download directory
          </button>
          <button mat-raised-button color="primary" style="width: fit-content;" (click)="openTemporaryDownloadDirectory()" [disabled]="currentTempDirectorySize().size === 0">
            Open temp directory
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<ng-template #joyRideStepContent>
  <h4>Adding an Instance:</h4>
  <span>
    First, you will need to add an instance.
    <p>
    To do this, navigate through the file dialog and point it to the root directory that contains both your SPT Server and SPT Launcher.
    This process will help the system to recognize these elements and work accordingly.
    <p>
    After adding an instance, you can set it as the active instance by clicking on the star icon.<br>
    Mods will be installed in the active instance.<br>
  </span>
</ng-template>

<ng-template #joyRideStepInstanceActiveContent>
  <h4>Activate your instance:</h4>
  <span>
    With this "Star" you can set your instance active or inactive.
    <p>
    All actions will be executed for your active instance.
  </span>
</ng-template>
