<div style="display: flex; flex-direction: column; gap: 8px">
  <button mat-flat-button color="accent" (click)="getRootEftSpDirectory()">Add new SPT Instance</button>
  <mat-accordion>
    @for (settingModel of userSettingSignal(); track settingModel.akiRootDirectory) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon
              [class.fill]="settingModel.isActive"
              (click)="$event.stopPropagation(); $event.preventDefault(); setActiveInstance(settingModel)">
              star
            </mat-icon>
            <span style="margin-left: 8px">Version: {{ settingModel.akiCore.akiVersion }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span style="margin-left: 8px">{{ settingModel.akiRootDirectory }}</span></mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-panel-container">
          <div class="delete-button-container" (click)="removeInstance(settingModel)">
            <mat-icon>delete</mat-icon>
          </div>
          <br>
          <div style="display: flex; flex-direction: row;">
            <div style="width: 50%">
              Client-Mods: {{ settingModel?.clientMods?.length ?? 0 }}
              <ul>
                @for (mod of settingModel.clientMods; track mod.name) {
                  <li>{{ mod.name }} - v{{ mod.version }}</li>
                }
              </ul>
            </div>

            <div style="width: 50%">
              Server-Mods: {{ settingModel?.serverMods?.length ?? 0 }}
              <ul>
                @for (mod of settingModel.serverMods; track mod.name) {
                  <li>{{ mod.name }} - v{{ mod.version }}</li>
                }
              </ul>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
