@use '@angular/material' as mat;

:host ::ng-deep {
  .mat-expansion-panel-body {
    padding-right: 0 !important;
  }

  .theme-select {
    width: fit-content;
    @include mat.form-field-density(-5);
  }

  .mat-expansion-indicator {
    display: none !important;
  }
}

.mat-mdc-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 240px;
  overflow: auto;
  margin-bottom: 8px !important;
}

.mat-mdc-list-item {
  min-height: 72px;
}

.fill {
  font-variation-settings: "FILL" 1;
}

.delete-button-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  width: 60px;
  border-radius: 4px;

  @media (prefers-color-scheme: light) {
    background: rgb(231, 33, 44);

    .mat-icon {
      color: white;
    }
  }

  @media (prefers-color-scheme: dark) {
    background: rgb(178, 39, 46);
  }

  &.open-instance-button {
    right: 72px;
    background: transparent;
    border: 1px gray dashed;
  }
}

.active-star {
  color: white;
  height: 40px;
  width: 40px;
  font-size: 40px;
  cursor: pointer;

  @media (prefers-color-scheme: light) {
    color: black;
  }
}

mat-icon.warning {
  margin-right: 0 !important;
  margin-left: 0 !important;
  &:last-of-type {
    margin-right: 16px !important;
  }
}

.warning {
  height: 40px;
  width: 40px;
  font-size: 40px;
}

.expansion-panel-container {
  position: relative;
}

.instance-button {
  width: 100%;

  &.footer {
    border-radius: unset;
    border-bottom-left-radius: var(--mat-sys-corner-medium);
    border-bottom-right-radius: var(--mat-sys-corner-medium);
  }
}
