@use '@angular/material' as mat;

/* Light Theme */
:root, :host {
  @include mat.theme-overrides((
    primary: #6750a4,
    on-primary: #ffffff,
    primary-container: #e9ddff,
    on-primary-container: #22005d,
    inverse-primary: #cfbcff,
    primary-fixed: #e9ddff,
    primary-fixed-dim: #cfbcff,
    on-primary-fixed: #22005d,
    on-primary-fixed-variant: #4f378a,
    secondary: #625b70,
    on-secondary: #ffffff,
    secondary-container: #e8def8,
    on-secondary-container: #1e192b,
    secondary-fixed: #e8def8,
    secondary-fixed-dim: #ccc2db,
    on-secondary-fixed: #1e192b,
    on-secondary-fixed-variant: #4a4458,
    tertiary: #7e5260,
    on-tertiary: #ffffff,
    tertiary-container: #ffd9e3,
    on-tertiary-container: #31101d,
    tertiary-fixed: #ffd9e3,
    tertiary-fixed-dim: #efb8c8,
    on-tertiary-fixed: #31101d,
    on-tertiary-fixed-variant: #633b48,
    background: #fdf8f8,
    on-background: #1c1b1c,
    surface: #fdf8f8,
    surface-dim: #ddd9d9,
    surface-bright: #fdf8f8,
    surface-container-lowest: #ffffff,
    surface-container-low: #f7f3f2,
    surface-container: #f1eded,
    surface-container-high: #ebe7e7,
    surface-container-highest: #e6e1e1,
    on-surface: #1c1b1c,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #605d62,
    inverse-surface: #313030,
    inverse-on-surface: #f4f0f0,
    outline: #79767b,
    outline-variant: #cac5cb,
    neutral: #797676,
    neutral10: #1c1b1c,
    error: #ba1a1a,
    error-container: #ffdad6,
    on-error: #ffffff,
    on-error-container: #410002,
    surface-variant: #e6e1e7,
    on-surface-variant: #48464b,
    neutral-variant: #79767b,
    neutral-variant20: #322f34,
    inverse-secondary: #ccc2db,
    inverse-tertiary: #efb8c8,
  ));
}

/* Dark Theme */
.dark {
  @include mat.theme-overrides((
    primary: #cfbcff,
    on-primary: #381e72,
    primary-container: #4f378a,
    on-primary-container: #e9ddff,
    inverse-primary: #6750a4,
    primary-fixed: #e9ddff,
    primary-fixed-dim: #cfbcff,
    on-primary-fixed: #22005d,
    on-primary-fixed-variant: #4f378a,
    secondary: #ccc2db,
    on-secondary: #332d40,
    secondary-container: #4a4458,
    on-secondary-container: #e8def8,
    secondary-fixed: #e8def8,
    secondary-fixed-dim: #ccc2db,
    on-secondary-fixed: #1e192b,
    on-secondary-fixed-variant: #4a4458,
    tertiary: #efb8c8,
    on-tertiary: #4a2532,
    tertiary-container: #633b48,
    on-tertiary-container: #ffd9e3,
    tertiary-fixed: #ffd9e3,
    tertiary-fixed-dim: #efb8c8,
    on-tertiary-fixed: #31101d,
    on-tertiary-fixed-variant: #633b48,
    background: #141313,
    on-background: #e6e1e1,
    surface: #141313,
    surface-dim: #141313,
    surface-bright: #3a3939,
    surface-container-lowest: #0f0e0e,
    surface-container-low: #1c1b1c,
    surface-container: #201f20,
    surface-container-high: #2b2a2a,
    surface-container-highest: #363435,
    on-surface: #e6e1e1,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #cac5ca,
    inverse-surface: #e6e1e1,
    inverse-on-surface: #313030,
    outline: #938f95,
    outline-variant: #48464b,
    neutral: #797676,
    neutral10: #1c1b1c,
    error: #ffb4ab,
    error-container: #93000a,
    on-error: #690005,
    on-error-container: #ffdad6,
    surface-variant: #48464b,
    on-surface-variant: #cac5cb,
    neutral-variant: #79767b,
    neutral-variant20: #322f34,
    inverse-secondary: #625b70,
    inverse-tertiary: #7e5260,
  ));
}

/* Typography */
:root, :host {
  /* core typography tokens are not generating css variables, hence below */
  --mat-sys-brand-font-family: Roboto;
  --mat-sys-plain-font-family: Roboto;
  --mat-sys-bold-font-weight: 700;
  --mat-sys-medium-font-weight: 500;
  --mat-sys-regular-font-weight: 400;

  @include mat.theme-overrides((
    brand-family: Roboto,
    plain-family: Roboto,
    bold-weight: 700,
    medium-weight: 500,
    regular-weight: 400,
  ));
}
